* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
}

app-main {
  display: flex;
  border: 1px solid black;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #007bff, #f0f0f0);
  width: 100vw;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 4px;
}

input[type="text"] {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 150px;
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 16px;
}

button:hover {
  background-color: #0056b3;
}

.form-label-container {
  display: flex;
  flex-direction: column;
  align-items: start;

  margin-top: 16px;
}

.header-container {
  padding: 20px;
}

.top {
  color: #e0e0e0;
  width: 80%;
}

.app-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.form-response {
  margin-top: 40px;
  padding: 12px;
  background-color: white;
  border-radius: 4px;
  animation: slide-up 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
